@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background: #ffffff;
    font-weight: 700;
    font-size: 1.0rem;
}
  
.dice-content{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

.dice-body{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #b33951;
}

.dice{
    position: relative;
    width: 90px;
    height: 90px;
    margin-right: 10px;
    transform-style: preserve-3d;
    transition: 1s ease;
}

/* Nice we'll need it */
@keyframes rolling{
    50% {
        transform: rotateX(455deg) ;
    }
}

.container_1{
    display: grid;
    place-items: center;
    width: 250px;
    padding: 60px 0 40px;
    border-radius: 30px;
    background: #eeeeee;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.face{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #f6f3f0;
    transform-style: preserve-3d;
    background: linear-gradient(145deg, #dddbd8, #fff);
}

.face::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f6f3f0;
    transform: translateZ(-1px);
}

.face::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131210;
}
.front{
    transform: translateZ(50px);
}

.back{
    transform: rotateX(180deg) translateZ(50px);
}

.top{
    transform: rotateX(90deg) translateZ(50px);
}

.bottom{
    transform: rotateX(-90deg) translateZ(50px);
}

.right{
    transform: rotateY(90deg) translateZ(50px);
}

.left{
    transform: rotateY(-90deg) translateZ(50px);
}

.front::after{
    width: 30px;
    height: 30px;
    background: #f63330;
    margin: -15px 0 0 -15px;
}

.back::after{
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
            0 25px,
            40px 25px,
            0 50px,
            40px 50px;
}

.top::after{
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}

.bottom::after{
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
                52px 52px,
                52px 0,
                0 52px;
}

.right::after{
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
            0 40px,
            40px 40px;
}

.left::after{
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px,
    50px 50px;
}

/* Roll Button styles */
.roll{
    cursor: pointer;
    color: #b33951;
    margin-top: 60px;
    padding: 6px 12px;
    border-radius: 3px;
    font: 700 16px 'Poppins';
    border: 2px solid #b33951;
    transition: .4s;
}

.roll:hover{
    color: #fff;
    background: #b33951;
}

/* dice section ends here */

.container{
    /* max-width: 1000px; */
    margin: 0;
    /* margin-top: 20px; */
    font-family: 'Poppin', sans-serif;
}

.content{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

section{
    border: 2px solid darkred;
    text-align: center;
}

h1{
    margin: 0;
    font-size: 5rem;
    color: salmon;
    position: relative;
}

.wrt h4{
    margin: 0;
    position: relative;
    margin-top: -3rem;
    text-align: center;
    color: blue;
    /* font-size: 1.2rem; */
    z-index: 1;
}

.wrt .word{
    color: black;
}

.wrt .word1{
    color: rgb(4, 4, 102);
}

section h4 .wordx{
    /* font-size: 1.2rem; */
    font-weight: 700;
}

.content1{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

section .word-11{
    margin-top: -1rem;
    text-align: center;
}

section .word-up{
    margin-top: -4.2rem;
    z-index: 1;
    position: relative;
    color: black;
    /* font-size: 1.2rem; */
}

section .word_up{
    margin-top: -4.2rem;
    z-index: 1;
    position: relative;
    color: rgb(25, 25, 101);
    /* font-size: 1.2rem; */
}

.squaret{
    background-image: url('/Images/people.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.squared{
    background-image: url('/Images/house.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2rem;
    /* margin-bottom: 0; */
}
section .word-26{
    margin-top: -2rem;
    position: relative;
    
}

/* section .word-30{
    margin-top: -1.3rem;
    position: relative;
} */
section .word-30{
    margin-top: -1.4rem;
    position: relative;
    /* font-size: 1.2rem; */
    color: brown;
}

@media screen and (max-width: 950px) {
    .content{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .content1{
        grid-template-columns: repeat(5, 1fr);
    }
}

